<script setup>

</script>

<template>
  <div class="harmony">
    <div class="container">
      <div class="harmony__title title">
        ГАРМОНИЯ ВОДЫ
      </div>

      <img src="/src/assets/img/png/banner.png" class="harmony__img" alt="">

      <div class="harmony-box">
        <div class="harmony-box__title title">
          НАСТРОЙТЕСЬ НА ЛЮБОВНУЮ ВОЛНУ
        </div>

        <div class="harmony-box__text text">
          Инновационные и сентиментальные украшения коллекции погружают нас в чувственную гармонию водной стихии.
        </div>

        <a href="" class="harmony-box__link">
          Посмотреть коллекцию
        </a>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "Harmony";
</style>