.harmony {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 105px;

  &__title {
    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 576px) {
      margin: 0 auto 50px auto;
    }
  }

  &__img {
    width: 100%;
    background-size: contain;
    margin-bottom: 50px;
  }

  &-box {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__title {
      margin-bottom: 13px;

      @media (max-width: 576px) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__text {
      max-width: 600px;
      margin: 0 auto 30px auto;
      text-align: center;
    }

    &__link {
      color: #000;
      padding-bottom: 2px;
      border-bottom: 1px solid #000;
    }
  }


}