<script setup>
const props = defineProps({
  lotus: {}
})


</script>

<template>
  <div class="lotus-item">
    <img :src="lotus.src" alt="" class="lotus-item__img">

    <div class="lotus-item-box">
      <div class="lotus-item-box__title title">
        {{ lotus.title }}
      </div>

      <div class="lotus-item-box__text text">
        {{ lotus.text }}
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "LotusItem";
</style>