.lotus-item {
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__img {
    width: 50%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &-box {
    width: 50%;
    padding: 0 55px;

    @media (max-width: 576px) {
      width: 100%;
      padding: 0 20px;
    }

    &__title {
      margin-bottom: 13px;
    }
  }
}