.container {
  max-width: 1420px;
  margin: 0 auto;
  font-family: "Baskerville Display PT Web", sans-serif;

  @media (max-width: 860px) {
    max-width: 750px;
  }

  @media (max-width: 576px) {
    max-width: 375px;
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #000;
}

.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @media (max-width: 576px) {
    max-width: 320px;
  }
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.8px;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

.body {
  overflow-x: hidden;
}

body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}