<script setup>

import Swiper from "../../components/Swiper.vue";
</script>

<template>
  <div class="decoration">
    <div class="container">
      <div class="decoration__title title">
        ИЗБРАННЫЕ УКРАШЕНИЯ
      </div>

      <swiper></swiper>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "Decoration";
</style>