<script setup>
import {Swiper, SwiperSlide} from "swiper/vue";
import "swiper/css";
import {Navigation} from "swiper/modules";
import {ref} from "vue";

const modules = [Navigation];

const prev = ref(null);
const next = ref(null);
</script>

<template>
  <div class="swiper-inner">

    <Swiper
        :modules="modules"
        :slidesPerView:="4"
        :space-between="20"
        :auto-height="true"
        :navigation="{
      prevEl: prev,
      nextEl: next,
      }"
        :breakpoints="{
      '640': {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      '768': {
        slidesPerView: 4,
        spaceBetween: 20,
      },
      }"
    >
      <template v-for="item in 10">
        <swiper-slide>
          <div class="decoration-item">
            <img src="../assets/img/png/decoration.png" class="decoration-item__img" alt="">

            <div class="decoration-item__text text">
              КОЛЬЦО ЛОТОС
            </div>
          </div>
        </swiper-slide>
      </template>
    </Swiper>

    <div ref="prev" class="swiper-button-prev"></div>
    <div ref="next" class="swiper-button-next"></div>
  </div>
</template>

<style scoped lang="scss">
@import "Swiper";
</style>