<script setup>
import {lotus} from "../../Repositories/Lotus.js";
import LotusItem from "./LotusItem/LotusItem.vue";
</script>

<template>
  <div class="lotus">
    <div class="container">
      <div class="lotus__title title">
        ГАРМОНИЯ ВОДЫ: ЛОТОС
      </div>

      <div class="lotus__subtitle">
        ПОМОЛВОЧНЫЕ КОЛЬЦА И КОМПЛЕКТЫ
      </div>

      <div class="lotus-inner">
        <template v-for="item in lotus">
        <LotusItem :lotus="item"></LotusItem>
        </template>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "Lotus";
</style>