.lotus {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 13px;
    text-align: center;

    @media (max-width: 576px) {
      margin: 0 auto;
    }
  }

  &__subtitle {
    margin-bottom: 42px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.8px;

    @media (max-width: 576px) {
      margin-bottom: 50px;
    }
  }

  &-item + &-item {
    margin-top: 50px;

    @media (max-width: 576px) {
    }
  }

  &-item:nth-child(2n) {
    :deep(.lotus-item-box) {
      order: 0;
    }

    :deep(.lotus-item__img) {
      order: 1;
    }

    :deep(.lotus-item-box__text) {
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }
  }

  &-item:nth-child(2n + 1) {
    :deep(.lotus-item__img) {
      @media (max-width: 576px) {
        margin-bottom: 50px;
      }
    }
  }
}