<script setup>
import Harmony from "./Modules/Harmony/Harmony.vue";
import Lotus from "./Modules/Lotus/Lotus.vue";
import Decoration from "./Modules/Decoration/Decoration.vue";
</script>

<template>
  <Harmony></Harmony>

  <Lotus></Lotus>

  <Decoration></Decoration>

  <div class="footer"></div>
</template>

<style lang="scss">
@import "styles/global";
@import "styles/vars";
</style>
